{{ form_start(form) }}
    <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Nombre:</label>
        <div class="col-sm-10">
            {{ form_widget(form.nombre) }}
            <div class="form-error">
                {{ form_errors(form.nombre) }}
            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Descripción:</label>
        <div class="col-sm-10">
            {{ form_widget(form.descripcion) }}
            <div class="form-error">
                {{ form_errors(form.descripcion) }}
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    <button class="btn btn-primary" {% if button_id is defined %} id="{{button_id}}" {% endif %}>{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}